*{
    box-sizing: border-box;
}

div.aCircle{
    border-radius: 50%;
    border: 2px solid black;
    height: 150px;
    width: 150px;
    margin: auto;
}

.circles{
    margin-top: 100px;

}

#messageBoard{
    margin: 15px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.textBox{
    margin-bottom: 10px;
    margin-top: 5px;

}

#startBtn{
    background-color: black;
    color: white;
    width: 5em;
    height: 2.5em;

}