/*     
        Name : Henok Hussen Hamza
        This is CSS file for assignment on day 2. The assignment creates a recipe web site for a fictional pie company named Granny's Pies. 
*/
body{
    width: 900px;
    height: 1024px;
    margin: auto;
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family:Georgia, Garamond, sans-serif;
    background: url("http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/1/silverware.jpg");
    background-attachment: fixed;
}

h1 {

    text-decoration: underline;
    color:  #A4A400 ;
    font-family: Lucida, 'Sans Unicode', Helvetica, Arial, sans-serif ;
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
    width: fit-content;
}

.subHeading{
    font-size: 18pt;
    text-align: left;
    font-weight: normal;
    background-color: #F0F0F0;
    color:  #A4A400 ;
    width: max-content;
}

 section h1{
    background-color: rgba(243, 247, 242, 0.74);
    text-decoration: underline;
    color: rgb(169, 199, 100);
}

a{
    color:  #A4A400;
}

span {
width: fit-content;
background-color: #F0F0F0;
}

footer {
    padding-right: 20px;
    padding-left: 20px;
    font-family: monospace;
}

.directionsTitle{
    font-weight: bolder;
    display: inline;
}

.userComment{
    background: lightyellow;
    margin: 1rem 1rem;
}

#linksSection a{
    display: block;
}

ul{
    list-style-image: url('http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/1/pie_icon.gif');
 
}

#strike{
    text-decoration: line-through;
}